

.container-profile {
  margin-left: 345px;
  align-items: center center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-radius: 5px;

}
.btn-create{
  position: relative;
  top: 54px;
  left: 115px;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.form-1{
    background: #3b56f34d;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    left: 290px;
}